.noticeitem{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 50px;
    align-items: center;
}

.noticeitem p{
    margin-left: 2rem;
    color: black;
}

.noticeitem a{
    text-decoration: none;
}

.noticeitem span{
    font-size: small;
    margin: 0.5rem;
}

.checkbox{
    margin-left: 2rem;
    cursor: pointer;
}

.noticebtnbox{
    position: relative;
    border: none;
  }
  .noticebtn{
    margin-top: 0.5rem;
    right: 0;
    padding: 3px 5px;
    background: none;
    border: 1px solid black;
    border-radius: 10px;
    font-size: smaller;
    cursor: pointer;
  }
  